policy_module(potentiometer, 1.0.0)
##line above indicates to the compiler that we are using a reference policy and pulls in a lot of standard require
## lines so we don't have to specify all the standard classes in our specification.
##policy_module takes two parameters - policy name, and version

#Declarations
type potentiometer_t;
type potentiometer_exec_t;
domain_type(potentiometer_t)
domain_entry_file(potentiometer_t, potentiometer_exec_t)

type potentiometer_etc_t;
files_config_file(potentiometer_etc_t)

type potentiometer_lock_t;
files_lock_file(potentiometer_lock_t)

role system_r types potentiometer_t;
## these lines define the domain type of the running process and the type to be used on the file_context. 

########################################
#
# potentiometer local policy
#

allow potentiometer_t self:capability { chown dac_override fowner fsetid sys_admin sys_rawio };
allow potentiometer_t self:unix_dgram_socket { create connect };
allow potentiometer_t self:fifo_file { read write getattr ioctl };

gen_require(`
	type sysadm_t;
	type sshd_t;
	type staff_t;
	type user_t;
')

allow potentiometer_t sysadm_t:unix_stream_socket { read write };
allow potentiometer_t sshd_t:fd use;
allow potentiometer_t staff_t:unix_stream_socket { read write };
allow potentiometer_t user_t:unix_stream_socket { read write };

manage_files_pattern(potentiometer_t, potentiometer_etc_t, potentiometer_etc_t)
files_etc_filetrans(potentiometer_t, potentiometer_etc_t,{ file dir })
allow potentiometer_t potentiometer_etc_t:file setattr;

allow potentiometer_t potentiometer_lock_t:file manage_file_perms;
files_lock_filetrans(potentiometer_t, potentiometer_lock_t, file)

files_read_etc_files(potentiometer_t)
getty_use_fds(potentiometer_t)
init_use_fds(potentiometer_t)
term_use_all_terms(potentiometer_t)
userdom_use_user_ttys(potentiometer_t)

corecmd_exec_bin(potentiometer_t)
miscfiles_read_localization(potentiometer_t)
corecmd_exec_shell(potentiometer_t)
kernel_read_system_state(potentiometer_t)
dev_read_sysfs(potentiometer_t)
files_manage_boot_files(potentiometer_t)

dmidecode_domtrans(potentiometer_t)
files_read_default_symlinks(potentiometer_t)
dev_read_raw_memory(potentiometer_t)
files_read_isid_type_files(potentiometer_t)
