## <summary>policy for potentiometer</summary>

########################################
## <summary>
##      Execute a domain transition to run potentiometer.
## </summary>
## <param name="domain">
## <summary>
##      Domain allowed to transition.
## </summary>
## </param>
#
interface(`potentiometer_domtrans',`
        gen_require(`
                type potentiometer_t, potentiometer_exec_t;
        ')

        domain_auto_trans($1,potentiometer_exec_t,potentiometer_t)

        allow potentiometer_t $1:fd use;
        allow potentiometer_t $1:fifo_file rw_file_perms;
        allow potentiometer_t $1:process sigchld;
')
